<script lang="ts">
	import '../app.css';

	import { services } from '../services';

	import { setContext } from 'svelte';

	import Header from '../components/navigation/header.svelte';
	import Footer from '../components/navigation/footer.svelte';

	// Application context:
	setContext('services', services);
	setContext('datastore', services.datastore);
	setContext('stores', services.stores);
</script>

<Header />

<div class="w-full flex flex-col sm:flex-row flex-grow overflow-hidden">
	<main class="bg-gray-100 w-full h-screen flex-grow overflow-auto">
		<slot />
	</main>
</div>

<Footer />
