<script lang="ts">
	import { getContext } from 'svelte';

	import Editor from '../components/editor.svelte';
	import Error from '../components/error.svelte';

	import yaml from 'js-yaml';

	import schemas from '@getanthill/datastore/dist/sdk/aggregator/schemas.json';

	const datastore = getContext<any>('stores').activeClient;
	const value = getContext<any>('stores').editorValue;

	let editor;
	let error;
	let aggregation;
	let logs = [];

	async function run(value) {
		console.log('Running...', value);

		error = null;
		aggregation = null;
		logs = [];

		try {
			// const agg = yaml.load(value);
			const agg = JSON.parse(value);
			console.log(agg);

			const res = await $datastore.aggregate(agg, {
				logs: true
			});

			aggregation = res.data.aggregation;
			logs = res.data.logs;
		} catch (err) {
			console.error(err);
			error = err;
		}

		// @ts-ignore
		logs = aggregator.logs;
	}
</script>

{#if !!datastore}
	<div class="flex flex-column h-screen" style="background-color: #272822;">
		<div class="w-4/12 border-r-2" style="border-color: #171812;">
			<Editor
				bind:this={editor}
				language="json"
				bind:value={$value}
				on:save={() => run($value)}
				schema={schemas}
			/>
		</div>

		<div class="w-4/12 border-r-2" style="border-color: #171812;">
			{#if !!aggregation}
				<Editor language="json" isReadonly={true} value={JSON.stringify(aggregation, null, 2)} />
			{/if}
		</div>

		<div class="w-4/12">
			<div class="w-full h-4/6">
				<Editor
					language="json"
					fontSize="10px"
					isReadonly={true}
					value={JSON.stringify(logs.reverse(), null, 2)}
				/>
			</div>

			<div class="w-full h-2/6 border-t-2" style="border-color: #171812;">
				<Error {error} />
			</div>
		</div>
	</div>
{/if}
