<script lang="ts">
	import type { Writable } from 'svelte/store';

	import { getContext } from 'svelte';

	const configs: Writable<any[]> = getContext<any>('stores').configs;
	const activeConfigIndex: Writable<number> = getContext<any>('stores').activeConfigIndex;
</script>

<div class="max-w-6xl mx-auto">
	<div class="hidden sm:block" aria-hidden="true">
		<div class="py-5">
			<!-- <div class="border-t border-gray-200"></div> -->
		</div>
	</div>

	<h2 class="text-lg leading-6 text-3xl text-gray-900">Configuration</h2>
	<p class="mt-1 max-w-2xl text-sm text-gray-500">Datastore configurations</p>

	<!-- <button on:click={() => ($configs = [...$configs, { baseURL: '', accessToken: '' }])}>add</button> -->

	<div class="hidden sm:block" aria-hidden="true">
		<div class="py-5">
			<!-- <div class="border-t border-gray-200"></div> -->
		</div>
	</div>

	{#if Array.isArray($configs)}
		{#each $configs as config, i (i)}
			<div>
				<div class="md:grid md:grid-cols-3 md:gap-6">
					<div class="md:col-span-1">
						<div class="px-4 sm:px-0">
							<h3 class="text-lg font-medium leading-6 text-gray-900">
								Configuration{config.name ? ' for: ' : ''}<code>{config.name || ''}</code>
							</h3>
							<p class="mt-1 text-sm text-gray-600">
								This configuration will be used to communicate with a unique instance of the
								Datastore. The <code>Access token</code> must be valid and available in the deployment
								configuration. Rights and permissions are attached to it.
							</p>
						</div>
					</div>
					<div class="mt-5 md:mt-0 md:col-span-2">
						<div class="shadow sm:rounded-md sm:overflow-hidden">
							<div class="px-4 py-5 bg-white space-y-6 sm:p-6">
								<div class="flex items-center justify-between">
									<span class="flex-grow flex flex-col">
										<span class="text-sm font-medium text-gray-900" id="availability-label"
											>Activate this configuration</span
										>
										<!-- <span class="text-sm text-gray-500" id="availability-description">
											Nulla amet tempus sit accumsan. Aliquet turpis sed sit lacinia.
										</span> -->
									</span>
									<!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
									<button
										type="button"
										class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
										role="switch"
										aria-checked={i === $activeConfigIndex ? 'true' : 'false'}
										aria-labelledby="availability-label"
										aria-describedby="availability-description"
										class:bg-blue-200={i === $activeConfigIndex}
										on:click={() => ($activeConfigIndex = i)}
									>
										<!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
										<span
											aria-hidden="true"
											class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"
											class:translate-x-full={i === $activeConfigIndex}
										/>
										<!-- :class="[toggle === '1' ? 'translate-x-full border-green-400' : 'translate-x-0 border-gray-400']" -->
									</button>
								</div>

								<div class="grid grid-cols-3 gap-6">
									<div class="col-span-3">
										<label for="name-{i}" class="block text-sm font-medium text-gray-700"
											>Name</label
										>
										<div class="mt-1">
											<input
												type="text"
												name="name-{i}"
												id="name-{i}"
												bind:value={config.name}
												class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
												placeholder="you@example.com"
											/>
										</div>
										<p class="mt-2 text-sm text-gray-500">Name of this configuration</p>
									</div>
								</div>

								<div class="grid grid-cols-3 gap-6">
									<div class="col-span-3">
										<label for="base-url-{i}" class="block text-sm font-medium text-gray-700"
											>Base URL</label
										>
										<div class="mt-1">
											<input
												type="text"
												name="base-url-{i}"
												id="base-url-{i}"
												bind:value={config.base_url}
												class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
												placeholder="you@example.com"
											/>
										</div>
										<p class="mt-2 text-sm text-gray-500">
											Base URL such as <code>http://localhost:3001</code>
										</p>
									</div>
								</div>

								<div>
									<div class="col-span-3">
										<label for="access-token-{i}" class="block text-sm font-medium text-gray-700"
											>Access token</label
										>
										<div class="mt-1">
											<input
												type="password"
												name="access-token-{i}"
												id="access-token-{i}"
												bind:value={config.access_token}
												class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
												placeholder="you@example.com"
											/>
										</div>
										<p class="mt-2 text-sm text-gray-500">
											Access token to use to communication with the Datastore.
										</p>
									</div>
								</div>

								<button
									type="button"
									class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300"
									on:click={() => ($configs = [...$configs, { ...$configs[i] }])}
								>
									Copy
								</button>

								{#if i > 0}
									<button
										type="button"
										class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-red-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm"
										on:click={() =>
											($configs = [...$configs.slice(0, i), ...$configs.slice(i + 1)])}
									>
										DELETE
									</button>
								{/if}
							</div>
						</div>
					</div>
				</div>
			</div>

			{#if i < $configs.length}
				<div class="hidden sm:block" aria-hidden="true">
					<div class="py-5">
						<div class="border-t border-gray-200" />
					</div>
				</div>
			{/if}
		{/each}
	{/if}

	<div>
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1" />
			<div class="mt-5 md:mt-0 md:col-span-2">
				<button
					type="button"
					class="relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
					on:click={() =>
						($configs = [
							...$configs,
							{
								name: `Datastore #${$configs.length + 1}`,
								base_url: 'http://localhost:3001',
								access_token: ''
							}
						])}
				>
					<svg
						class="mx-auto h-12 w-12 text-gray-400"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
						/>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
						/>
					</svg>
					<span class="mt-2 block text-sm font-medium text-gray-900">Add a configuration</span>
				</button>
			</div>
		</div>
	</div>
</div>
