<script lang="ts">
	import type { Writable } from 'svelte/store';
	import { page } from '$app/stores';
	import { fade } from 'svelte/transition';

	import { getContext } from 'svelte';

	const activeConfig: Writable<any> = getContext<any>('stores').activeConfig;
	const models: Writable<object> = getContext<any>('stores').models;

	$: path = $page.url.pathname;
	$: configName = $activeConfig.name || 'datastore';
	$: model = Object.keys($models || {})[0];

	function getModelPath(configName: string, model: string): string {
		return `/datastore/${model}`.toLowerCase();
	}
</script>

<nav style="background-color: #171812;">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="flex items-center justify-between h-16">
			<div class="flex items-center">
				<div class="flex-shrink-0">
					<code class="text-gray-500">Datastore</code>
				</div>
				<div class="hidden sm:block sm:ml-6">
					<div class="flex space-x-4">
						<a
							in:fade|local={{}}
							href="/config"
							class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
							aria-current={path === '/config' ? 'page' : ''}
							class:bg-gray-900={path === '/config'}
							class:text-white={path === '/config'}>Config</a
						>

						<a
							in:fade|local={{}}
							href="/aggregation"
							class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
							aria-current={path === '/aggregation' ? 'page' : ''}
							class:bg-gray-900={path === '/aggregation'}
							class:text-white={path === '/aggregation'}>Aggregation</a
						>

						{#if !!model}
							<a
								in:fade|local={{}}
								href={getModelPath(configName, '')}
								class="border-blue-300 text-blue-500 hover:text-white px-3 py-2 rounded-md text-sm font-medium flex"
								aria-current={path === getModelPath(configName, '') ? 'page' : ''}
								class:bg-gray-900={path === getModelPath(configName, '')}
								class:text-white={path === getModelPath(configName, '')}
							>
								{$activeConfig.name || 'Models'}

								&nbsp;

								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-4 w-4"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"
									/>
								</svg>
							</a>
						{:else}
							<a
								in:fade|local={{ delay: 1000 }}
								href={`/config`}
								class="border-red-300 text-red-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium flex"
								aria-current={path === `/config` ? 'page' : ''}
								class:bg-gray-900={path === `/config`}
								class:text-white={path === `/config`}
							>
								NOT CONNECTED &nbsp;

								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-4 w-4"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M13 10V3L4 14h7v7l9-11h-7z"
									/>
								</svg>
							</a>
						{/if}

						<a
							href="/config"
							class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
							aria-current={path === '/config' ? 'page' : ''}
							class:bg-gray-900={path === '/config'}
							class:text-white={path === '/config'}
						>
							<code class="text-gray-500">{$activeConfig.base_url}</code>
						</a>
					</div>
				</div>
			</div>

			<div class="-mr-2 flex sm:hidden">
				<!-- Mobile menu button -->
				<button
					type="button"
					class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
					aria-controls="mobile-menu"
					aria-expanded="false"
				>
					<span class="sr-only">Open main menu</span>
					<!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
					<svg
						class="block h-6 w-6"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						aria-hidden="true"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h16"
						/>
					</svg>
					<!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
					<svg
						class="hidden h-6 w-6"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						aria-hidden="true"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M6 18L18 6M6 6l12 12"
						/>
					</svg>
				</button>
			</div>
		</div>
	</div>
</nav>
