<script lang="ts">
	import type { Writable } from 'svelte/store';

	import { getContext, onMount } from 'svelte';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';
	import Search from '../search.svelte';

	const activeConfig: Writable<any> = getContext<any>('stores').activeConfig;
	const models: Writable<object> = getContext<any>('stores').models;
	const filterModels: Writable<string> = getContext<any>('stores').filterModels;

	$: path = $page.url.pathname;

	$: names = getFilteredModels($models, $filterModels);
	$: redirect(path, names);

	function getFilteredModels(models: object, filter: string): string[] {
		const names: Set<string> = new Set();

		Object.values(models).forEach((model) => {
			if (new RegExp(filter, 'i').test(model.name)) {
				names.add(model.name);
			}

			if (new RegExp(filter, 'i').test(model.description)) {
				names.add(model.name);
			}
		});

		return Array.from(names.values()).sort();
	}

	function redirect(path, names) {
		if (typeof window === 'undefined') {
			return;
		}

		if (path !== `/datastore`.toLowerCase()) {
			return;
		}

		if (names.length === 0) {
			return;
		}

		goto(`/datastore/${names[0]}`.toLowerCase());
	}
</script>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="h-screen flex overflow-hidden bg-white">
	<!-- Static sidebar for desktop -->
	<div class="hidden lg:flex lg:flex-shrink-0">
		<div class="flex flex-col w-64">
			<!-- Sidebar component, swap this element with another sidebar if you like -->
			<div class="flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-gray-100">
				<div class="flex-1 flex flex-col pb-4 overflow-y-auto">
					<div class="flex items-center flex-shrink-0 px-2">
						<div class="px-2 py-2 space-y-1">
							<div class="mt-1 relative flex items-center">
								<Search bind:value={$filterModels} />
							</div>
						</div>
					</div>

					<div class="hidden sm:block" aria-hidden="true">
						<div class="pt-1">
							<div class="border-t border-gray-200" />
						</div>
					</div>

					<nav class="flex-1" aria-label="Sidebar">
						<div class="px-2 space-y-1">
							{#each names as name, i}
								<a
									href={`/datastore/${name}`.toLocaleLowerCase()}
									class="text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md"
								>
									<p>
										<code>{name}</code> <br />
										<span class="mx-2 text-gray-400 text-xs">{$models[name].description || ''}</span
										>
									</p>
								</a>
							{/each}
						</div>
					</nav>
				</div>
				<!-- <div class="flex-shrink-0 flex border-t border-gray-200 p-4">
					<a href="#" class="flex-shrink-0 w-full group block">
						<div class="flex items-center">
							<div>
								<img
									class="inline-block h-9 w-9 rounded-full"
									src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80"
									alt=""
								/>
							</div>
							<div class="ml-3">
								<p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">
									Whitney Francis
								</p>
								<p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">
									View profile
								</p>
							</div>
						</div>
					</a>
				</div> -->
			</div>
		</div>
	</div>
	<div class="flex flex-col min-w-0 flex-1 overflow-hidden">
		<div class="lg:hidden">
			<div
				class="flex items-center justify-between bg-gray-50 border-b border-gray-200 px-4 py-1.5"
			>
				<!-- <div>
					<img
						class="h-8 w-auto"
						src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
						alt="Workflow"
					/>
				</div> -->
				<div>
					<button
						type="button"
						class="-mr-3 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900"
					>
						<span class="sr-only">Open sidebar</span>
						<!-- Heroicon name: outline/menu -->
						<svg
							class="h-6 w-6"
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							aria-hidden="true"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M4 6h16M4 12h16M4 18h16"
							/>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="flex-1 relative z-0 flex overflow-hidden">
			<main class="flex-1 relative z-0 overflow-y-auto focus:outline-none">
				<!-- Start main area-->
				<div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8">
					<slot name="main">
						<div class="h-full border-2 border-gray-200 border-dashed rounded-lg" />
					</slot>
				</div>
				<!-- End main area -->
			</main>
			<aside
				class="hidden relative xl:flex xl:flex-col flex-shrink-0 w-96 border-l border-gray-200"
			>
				<!-- Start secondary column (hidden on smaller screens) -->
				<div class="absolute inset-0 py-6 px-4 sm:px-6 lg:px-8">
					<slot name="secondary">
						<div class="h-full border-2 border-gray-200 border-dashed rounded-lg" />
					</slot>
				</div>
				<!-- End secondary column -->
			</aside>
		</div>
	</div>
</div>
