<script lang="ts">
	import type { Writable } from 'svelte/store';

	import { getContext } from 'svelte';

	const activeConfig: Writable<any> = getContext<any>('stores').activeConfig;
	const models: Writable<object> = getContext<any>('stores').models;
</script>

<div class="sm:w-1/3 md:1/4 w-full flex-shrink flex-grow-0 p-4">
	<div class="sticky top-0 p-4 w-full">
		<ul class="flex sm:flex-col overflow-hidden content-center justify-between">
			<!-- nav goes here -->
			<!-- <Models />
      <Search /> -->
			{#each Object.keys($models) as name}
				<li class="py-2 hover:bg-grey-300 rounded">
					<a class="truncate" href={`/datastore/${name}`.toLocaleLowerCase()}>
						<span class="hidden sm:inline">{name}</span>
					</a>
				</li>
			{/each}
		</ul>
	</div>
</div>
