<script lang="ts">
	import type { Writable } from 'svelte/store';
	import type { ModelConfig } from '@getanthill/datastore/typings';
	import type Datastore from '@getanthill/datastore/src/sdk/Datastore';

	import * as jsonpatch from 'fast-json-patch';
	import omit from 'lodash/omit.js';
	import cloneDeep from 'lodash/cloneDeep.js';

	import { getContext, onMount } from 'svelte';
	import { page } from '$app/stores';

	import Editor from '../../../../components/editor.svelte';
	import Entity from '../../../../components/entity.svelte';
	import type { Services } from '../../../../services';
	import Error from '../../../../components/error.svelte';

	const svc = getContext<Services>('services');
	const activeConfig: Writable<any> = getContext<any>('stores').activeConfig;
	const models: Writable<object> = getContext<any>('stores').models;
	const datastore = getContext<any>('stores').activeClient;

	let model: ModelConfig;
	let events: any[] = [];
	let entity: any = {};
	let originalValue: any = null;
	let error: Error;

	$: model = $models[$page.params.model];
	$: correlationId = $page.params.correlation_id;

	$: getValue(model, correlationId);
	$: getEvents(model, correlationId);

	async function getValue(model, correlationId) {
		if (!model || !correlationId) {
			return;
		}

		const { data } = await $datastore.get(model.name, correlationId);

		entity = data;

		try {
			const {
				data: [decrypted]
			} = await $datastore.decrypt(model.name, [entity]);

			entity = decrypted;
		} catch (err) {
			console.warn('[decrypt] Not permitted');
		}

		originalValue = originalValue === null ? Object.freeze(cloneDeep(entity)) : originalValue;
	}

	async function save() {
		console.log('Saving...', entity);
		try {
			error = null;
			const diff = jsonpatch.compare(svc.sanitize(originalValue), svc.sanitize(entity));

			if (diff.length === 0) {
				return;
			}

			const { newDocument: result } = jsonpatch.applyPatch({}, diff);

			const payload = svc.sanitize(result);

			const res = await $datastore.update(model.name, correlationId, payload);

			try {
				const {
					data: [decrypted]
				} = await $datastore.decrypt(model.name, [res.data]);

				entity = decrypted;
			} catch (err) {
				console.warn('[decrypt] Not permitted');
				entity = res.data;
			}

			originalValue = Object.freeze(cloneDeep(entity));

			console.log('Entity updated', { entity });

			getEvents(model, correlationId);
		} catch (err) {
			error = err;
		}
	}

	async function getEvents(model, correlationId) {
		if (!model || !correlationId) {
			return;
		}

		const res = await $datastore.events(model.name, correlationId);

		events = res.data.reverse();
	}
</script>

{#if !!model}
	<div class="flex flex-column h-screen">
		<div class="w-8/12">
			{#if !!entity}
				<Entity bind:entity activeConfig={$activeConfig} {model} on:save={save} />
			{/if}
		</div>

		<div class="w-4/12" style="background-color: #272822;">
			{#if error}
				<Error {error} />
			{:else}
				<Editor
					language="json"
					fontSize="10px"
					isReadonly={true}
					value={JSON.stringify(events, null, 2)}
				/>
			{/if}
		</div>
	</div>
{/if}
