<script lang="ts">
	import type { Writable } from 'svelte/store';
	import type { ModelConfig } from '@getanthill/datastore/typings';
	import type Datastore from '@getanthill/datastore/src/sdk/Datastore';

	import * as jsonpatch from 'fast-json-patch';
	import cloneDeep from 'lodash/cloneDeep.js';
	import get from 'lodash/get.js';
	import omit from 'lodash/omit.js';
	import set from 'lodash/set.js';
	import { getContext, onMount } from 'svelte';
	import { getStores, navigating, page, session } from '$app/stores';

	import Editor from '../../../../components/editor.svelte';
	import Error from '../../../../components/error.svelte';
	import type { Services } from '../../../../services';

	const svc = getContext<Services>('services');
	const models: Writable<object> = getContext<any>('stores').models;
	const datastore = getContext<any>('stores').activeClient;

	let model: ModelConfig;
	$: model = $models[$page.params.model];
	$: correlationId = $page.params.correlation_id;

	let value;
	let error;

	let events: any[] = [];
	let entity: any = {};
	let originalValue: any = null;

	let editor;

	$: getValue(model, correlationId);
	$: getEvents(model, correlationId);

	async function getValue(model, correlationId) {
		if (!model || !correlationId) {
			return;
		}

		const res = await $datastore.get(model.name, correlationId);

		try {
			const {
				data: [decrypted]
			} = await $datastore.decrypt(model.name, [res.data]);

			entity = decrypted;
		} catch (err) {
			console.warn('[decrypt] Not permitted');
			entity = res.data;
		}

		originalValue = originalValue === null ? Object.freeze(cloneDeep(entity)) : originalValue;

		return setValue(entity);
	}

	async function getEvents(model, correlationId) {
		if (!model || !correlationId) {
			return;
		}

		const res = await $datastore.events(model.name, correlationId);

		events = res.data.reverse();
	}

	function setValue(entity) {
		value = JSON.stringify(entity, null, 2);
	}

	async function save(value) {
		console.log('Saving...', value);
		try {
			error = null;
			const json = JSON.parse(value);

			const diff = jsonpatch.compare(svc.sanitize(originalValue), svc.sanitize(json));

			if (diff.length === 0) {
				return;
			}

			const s = {};
			diff
				.filter((d) => ['add', 'remove', 'replace'].includes(d.op))
				.forEach((d) => {
					const p = d.path.slice(1).replace(/\/.*/, '');
					set(s, p, get(originalValue, p));
				});

			const { newDocument: result } = jsonpatch.applyPatch(s, diff);

			const payload = omit(result, 'created_at', 'updated_at', 'version');

			const res = await $datastore.update(model.name, correlationId, payload);

			try {
				const {
					data: [decrypted]
				} = await $datastore.decrypt(model.name, [res.data]);

				entity = decrypted;
			} catch (err) {
				console.warn('[decrypt] Not permitted');
				entity = res.data;
			}

			originalValue = Object.freeze(cloneDeep(entity));

			setValue(entity);

			getEvents(model, correlationId);
		} catch (err) {
			console.error(err);
			error = err;
		}
	}
</script>

{#if !!model}
	<div class="flex flex-column h-screen" style="background-color: #272822;">
		<div class="w-8/12 border-r-2" style="border-color: #171812;">
			<div class="w-full h-4/6">
				<Editor
					bind:this={editor}
					language="json"
					schema={{
						type: 'object',
						...model.schema.model
					}}
					bind:value
					on:save={() => save(value)}
				/>
			</div>

			<div class="w-full h-2/6 border-t-2" style="border-color: #171812;">
				<Error {error} />
			</div>
		</div>

		<div class="w-4/12">
			<Editor
				language="json"
				fontSize="10px"
				isReadonly={true}
				value={JSON.stringify(events, null, 2)}
			/>
		</div>
	</div>
{/if}
