<script lang="ts">
	import type monaco from 'monaco-editor';

	import { createEventDispatcher, onMount } from 'svelte';

	import editorWorker from 'monaco-editor/esm/vs/editor/editor.worker?worker';
	import jsonWorker from 'monaco-editor/esm/vs/language/json/json.worker?worker';
	import cssWorker from 'monaco-editor/esm/vs/language/css/css.worker?worker';
	import htmlWorker from 'monaco-editor/esm/vs/language/html/html.worker?worker';
	import tsWorker from 'monaco-editor/esm/vs/language/typescript/ts.worker?worker';
	// import { setDiagnosticsOptions } from 'monaco-yaml';
	import yamlWorker from 'monaco-yaml/lib/esm/yaml.worker?worker';

	const dispatch = createEventDispatcher();

	export let language: string = 'json';
	export let value: string = '';
	export let isReadonly: boolean = false;
	export let schema: object = null;
	export let lineHighlight: boolean = !isReadonly;
	export let fontSize: string;

	let editor: monaco.editor.IStandaloneCodeEditor;

	let divEl: HTMLDivElement = null;
	let Monaco;

	$: setValue(value);
	let height: number = 500;
	let state;

	const updateHeight = () => {
		// height = Math.min(500, editor.getContentHeight());
		editor.layout();
	};

	function setValue(value) {
		if (!editor) {
			return;
		}

		const position = editor.getPosition();
		editor.setValue(value);

		editor.setPosition(position);
	}

	onMount(async () => {
		// @ts-ignore
		self.MonacoEnvironment = {
			getWorker: function (_moduleId: any, label: string) {
				if (label === 'json') {
					return new jsonWorker();
				}
				if (label === 'css' || label === 'scss' || label === 'less') {
					return new cssWorker();
				}
				if (label === 'html' || label === 'handlebars' || label === 'razor') {
					return new htmlWorker();
				}
				if (label === 'typescript' || label === 'javascript') {
					return new tsWorker();
				}
				if (label === 'yaml') {
					// @ts-ignore
					return yamlWorker();
				}

				return new editorWorker();
			}
		};

		Monaco = await import('monaco-editor');
		const monokai = await import('monaco-themes/themes/Monokai.json');

		Monaco.editor.defineTheme('monokai', monokai);
		Monaco.editor.setTheme('monokai');

		const modelUri = Monaco.Uri.parse(`ds://${Date.now()}.${language}`); // a made up unique URI for our model

		if (schema !== null) {
			if (language === 'json') {
				console.log(84, { language, schema, modelUri });
				Monaco.languages.json.jsonDefaults.setDiagnosticsOptions({
					validate: true,
					schemaValidation: 'error',

					schemas: Array.isArray(schema)
						? [
								{
									uri: `https://datastore${schema[0].$id}`, // id of the first schema
									fileMatch: [modelUri.toString()], // associate with our model
									schema: schema[0]
								},
								...schema.map((s) => ({
									uri: `https://datastore${s.$id}`,
									schema: s
								}))
						  ]
						: [
								{
									uri: 'https://datastore/schema.json', // id of the first schema
									fileMatch: [modelUri.toString()], // associate with our model
									schema
								}
						  ]
				});
			}
		}

		const model = Monaco.editor.createModel(value, language, modelUri);

		editor = Monaco.editor.create(divEl, {
			model,
			language,
			readOnly: isReadonly,
			tabSize: 2,
			minimap: {
				enabled: false
			},
			renderLineHighlight: lineHighlight === false ? 'none' : undefined,
			fontSize
		});

		editor.onDidContentSizeChange(updateHeight);
		updateHeight();

		editor.onKeyDown(function (e) {
			/**
			 * @fixme 49 magic number
			 * > Monaco.KeyCode.KEY_S is undefined
			 */
			if (e.ctrlKey && e.keyCode === 49) {
				e.preventDefault();

				value = editor.getValue();

				dispatch('save', {
					value
				});

				return;
			}

			if (e.ctrlKey && e.keyCode === 56) {
				e.preventDefault();

				editor.restoreViewState(state);

				return;
			}
		});

		state = editor.saveViewState();

		return () => {
			editor.dispose();
		};
	});
</script>

<div bind:this={divEl} class="w-full h-full" />
