<script lang="ts">
	import get from 'lodash/get.js';
	import omit from 'lodash/omit.js';

	import { createEventDispatcher, onDestroy, onMount } from 'svelte';
	import { goto } from '$app/navigation';

	import Editor from './editor.svelte';

	const dispatch = createEventDispatcher();

	export let activeConfig: any;
	export let model: any;
	export let entity: any;

	let properties: string[] = [];
	$: properties = getProperties(model);
	$: correlationId = entity[model.correlation_field];

	const SUPPORTED_TYPES = ['string', 'number', 'boolean'];

	function getProperties(model): string[] {
		const properties = Object.keys(
			omit(
				get(model, `schema.model.properties`, {}),
				'v',
				'type',
				'version',
				'json_patch',
				'created_at',
				'updated_at',
				'handler'
			)
		);
		// properties = Object.keys(
		// 	omit(entity, 'v', 'type', 'version', 'json_patch', 'created_at', 'updated_at', 'handler')
		// );

		// console.log(25, properties);

		return properties.filter((p) => SUPPORTED_TYPES.includes(getProperty(p).type)).sort();
	}

	function getProperty(property: string): any {
		return get(model, `schema.model.properties.${property}`, {});
	}

	function onSave() {
		dispatch('save', entity);
	}

	function onKeyDown(e) {
		if (e.ctrlKey && e.keyCode === 83) {
			e.preventDefault();

			return onSave();
		}
	}

	const controller = new AbortController();
	onMount(() => {
		window.addEventListener('keydown', onKeyDown, {
			capture: true,
			// @ts-ignore
			signal: controller.signal
		});
	});

	onDestroy(() => {
		controller.abort();
	});
</script>

<div class="p-5 space-y-8 divide-y divide-gray-200 sm:space-y-5">
	<div>
		<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
			<div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
				<div class="ml-4 mt-4">
					<h3 class="text-lg leading-6 font-medium text-gray-900">
						{entity.name || correlationId || activeConfig.name}

						{#if entity.version}
							<code>v{entity.version}</code>
						{/if}
					</h3>
					<p class="mt-1 text-sm text-gray-500 break-all">
						{@html (entity.description || model.description || '').replace(/\n/g, '<br/>')}
					</p>
				</div>
				<div class="ml-4 mt-4 flex-shrink-0">
					{#if correlationId}
						<button
							type="button"
							class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-400 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300"
							on:click={() =>
								goto(
									`/datastore/${model.name}/create/raw?json=${encodeURIComponent(
										JSON.stringify(entity)
									)}`.toLowerCase()
								)}
						>
							Copy
						</button>

						<button
							type="button"
							class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-400 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300"
							on:click={() =>
								goto(`/datastore/${model.name}/${correlationId}/raw`.toLowerCase())}
						>
							Raw
						</button>
					{:else}
						<button
							type="button"
							class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-400 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300"
							on:click={() => goto(`/datastore/${model.name}/create/raw`.toLowerCase())}
						>
							Raw
						</button>
					{/if}
					<button
						type="button"
						class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300"
						on:click={onSave}
					>
						Save
					</button>
				</div>
			</div>
		</div>

		<div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
			{#each properties as property}
				<div
					class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5"
				>
					<label
						for={`${correlationId}-${property}`}
						class="block text-m font-medium text-gray-700 sm:mt-px sm:pt-2"
					>
						<code>{property}</code>
						<p class="text-xs text-gray-400">
							{get(model, `schema.model.properties.${property}.description`, '')}
						</p>
					</label>
					<div class="sm:col-span-2">
						<div class="">
							<div class="mt-4 space-y-4">
								<div class="flex">
									{#if getProperty(property).type === 'string' && 'enum' in getProperty(property)}
										<select
											name={property}
											id={`${correlationId}-${property}`}
											class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
											bind:value={entity[property]}
										>
											{#each getProperty(property).enum as value}
												<option>{value}</option>
											{/each}
										</select>
									{:else if getProperty(property).type === 'string'}
										<textarea
											type="text"
											name={property}
											id={`${correlationId}-${property}`}
											autocomplete="username"
											bind:value={entity[property]}
											class="flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-md sm:text-sm border-gray-300"
										/>
									{:else if getProperty(property).type === 'boolean'}
										<button
											type="button"
											class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
											role="switch"
											aria-checked={entity[property] === true ? 'true' : 'false'}
											aria-labelledby="availability-label"
											aria-describedby="availability-description"
											class:bg-green-300={entity[property] === true}
											on:click={() => (entity[property] = !entity[property])}
										>
											<!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
											<span
												aria-hidden="true"
												class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"
												class:translate-x-full={entity[property] === true}
											/>
											<!-- :class="[toggle === '1' ? 'translate-x-full border-green-400' : 'translate-x-0 border-gray-400']" -->
										</button>
									{:else}
										<Editor
											language="json"
											schema={{
												type: 'object',
												...model.schema.model
											}}
											bind:value={entity}
										/>
									{/if}
								</div>
							</div>
						</div>
					</div>
				</div>
			{/each}
		</div>
	</div>
</div>
