<script lang="ts">
	import get from 'lodash/get.js';

	import Editor from './editor.svelte';

	export let error: Error;

	function toString(err?: Error): string {
		if (!err) {
			return '';
		}

		let str = `${err.message}`;
		let details = get(err, 'response.data.details');

		if (!!details) {
			str += `
${JSON.stringify(details, null, 2)}
`;
		}

		return str;
	}
</script>

<Editor language="json" isReadonly={true} value={toString(error)} />
