<script lang="ts">
	import { goto } from '$app/navigation';

	export let activeConfig: any;
	export let model: any;
</script>

<div class="lg:flex lg:items-center lg:justify-between">
	<div class="flex-1 min-w-0">
		<h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
			{model.name}
		</h2>
		<div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
			{model.description || ''}
		</div>
	</div>
	<div class="mt-5 flex lg:mt-0 lg:ml-4">
		<span class="hidden sm:block">
			<button
				type="button"
				class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
				on:click={() => goto(`/datastore/${model.name}/model`.toLowerCase())}
			>
				<!-- Heroicon name: solid/pencil -->
				<svg
					class="-ml-1 mr-2 h-5 w-5 text-gray-500"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
					aria-hidden="true"
				>
					<path
						d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
					/>
				</svg>
				Edit Model
			</button>

			<button
				type="button"
				class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
				on:click={() => goto(`/datastore/${model.name}/create`.toLowerCase())}
			>
				<!-- Heroicon name: solid/pencil -->
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="-ml-1 mr-2 h-5 w-5 text-gray-500"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M12 6v6m0 0v6m0-6h6m-6 0H6"
					/>
				</svg>
				Create Entity
			</button>

			<button
				type="button"
				class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
				on:click={() => goto(`/datastore/${model.name}/create/raw`.toLowerCase())}
			>
				<!-- Heroicon name: solid/pencil -->
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="-ml-1 mr-2 h-5 w-5 text-gray-500"
					fill="none"
					viewBox="0 0 24 24"
					stroke="currentColor"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M12 6v6m0 0v6m0-6h6m-6 0H6"
					/>
				</svg>
				Create Entity Raw
			</button>
		</span>
	</div>
</div>
