<script lang="ts">
	import type { Datastore } from '@getanthill/datastore';
	import type { Writable } from 'svelte/store';

	import { getContext, onMount } from 'svelte';

	const datastore: Datastore = getContext('datastore');
	const models: Writable<object> = getContext<any>('stores').models;

	export let selected: string;
	export let model: any;

	let names: string[] = [];

	$: model = $models[selected];

	onMount(async () => {
		const { data } = await datastore.getModels();

		console.log(data);
		$models = data;

		names = Object.keys(data);
	});
</script>

<select bind:value={selected}>
	{#each names as name}
		<option value={name}>{name}</option>
	{/each}
</select>
