<script lang="ts">
	export let value: string;
	export let name: string = 'search';
	export let id: string = name;
	export let placeholder: string = '';

	export let count: number;
	export let pattern: string = '';
	export let fragments: string[][] = [];
</script>

<div class="mt-1">
	<input
		type="search"
		{name}
		{id}
		bind:value
		class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
		{placeholder}
	/>
</div>

{#if typeof count === 'number'}
	<p class="mt-2 text-sm text-gray-500">
		<span
			class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-green-100 text-green-800"
		>
			<code>count={count}</code>
		</span>

		{#if !!pattern}
			<span
				class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-green-100 text-blue-800"
			>
				<code>pattern={pattern}</code>
			</span>
		{/if}

		{#each fragments as fragment}
			<span
				class="inline-flex items-center mr-2 px-2 py-0.5 rounded text-xs font-medium bg-gray-100 text-gray-800"
			>
				<code>{fragment[0]}={fragment[1]}</code>
			</span>
		{/each}
	</p>
{/if}
