<script lang="ts">
	import type { ModelConfig } from '@getanthill/datastore/typings';

	import get from 'lodash/get.js';

	const COLUMN_TYPES: string[] = ['string', 'boolean', 'number', 'date', 'datetime'];

	export let activeConfig: any;
	export let model: ModelConfig;
	export let items: object[] = [];
	export let columns: string[] = getColumns(model);

	$: columns = getColumns(model);

	function getColumns(model) {
		const columns = Array.from(
			new Set([
				'is_enabled',
				'name',
				'description',
				...Object.keys(get(model, `schema.model.properties`, {}))
			]).values()
		);

		const validColumns = columns.filter((c) => COLUMN_TYPES.includes(getColumnType(model, c)));

		const columnsWithValues = [];
		for (const c of validColumns) {
			for (const item of items) {
				if (item[c] !== undefined) {
					columnsWithValues.push(c);
					break;
				}
			}
		}

		if (columnsWithValues.length === 0) {
			columnsWithValues.push('root');
		}

		return columnsWithValues;
	}

	function getColumnType(model, column) {
		return get(model, `schema.model.properties.${column}.type`, 'string');
	}

	function formatColumnValue(model, column, value) {
		if (value === undefined) {
			return '';
		}

		if (get(model, `schema.model.properties.${column}.anyOf`, null)) {
			return JSON.stringify(value);
		}

		const type = getColumnType(model, column);

		if (type === 'array') {
			if (get(model, `schema.model.properties.${column}.items.type`) !== 'object') {
				return value.join(', ');
			}

			return JSON.stringify(value);
		}

		return value;
	}

	function getColumnDescription(model, column) {
		return get(model, `schema.model.properties.${column}.description`, 'string');
	}
</script>

<div class="py-2 align-middle inline-block min-w-full">
	<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
		<table class="min-w-full divide-y divide-gray-200">
			<thead class="bg-gray-50">
				<tr>
					{#each columns as column}
						<th
							class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider"
							title={getColumnDescription(model, column)}
						>
							{column} ({getColumnType(model, column)})
						</th>
					{/each}
				</tr>
			</thead>
			<tbody class="bg-white divide-y divide-gray-200">
				{#each items as item, i (i)}
					<tr>
						{#each columns as column}
							<td class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
								<a
									class="truncate"
									href={`/datastore/${model.name}/${
										item[model.correlation_field]
									}`.toLocaleLowerCase()}
								>
									{#if column === 'root'}
										<code>{JSON.stringify(item).slice(0, 50)}</code>
									{:else if getColumnType(model, column) === 'boolean'}
										<span
											class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
											class:text-green-800={item[column]}
											class:bg-green-100={item[column]}
											class:text-red-800={!item[column]}
											class:bg-red-100={!item[column]}
										>
											{@html formatColumnValue(model, column, item[column])}
										</span>
									{:else if getColumnType(model, column) === 'array'}
										{@html formatColumnValue(model, column, item[column])}
									{:else}
										{@html formatColumnValue(model, column, item[column])}
									{/if}
								</a>
							</td>
						{/each}
					</tr>
				{/each}
			</tbody>
		</table>
	</div>
</div>
