<script lang="ts">
	import type { Writable } from 'svelte/store';
	import type { ModelConfig } from '@getanthill/datastore/typings';
	import type Datastore from '@getanthill/datastore/src/sdk/Datastore';

	import omit from 'lodash/omit.js';
	import { getContext, onMount } from 'svelte';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';

	import Editor from '../../../../components/editor.svelte';
	import Entity from '../../../../components/entity.svelte';
	import Error from '../../../../components/error.svelte';

	const activeConfig: Writable<any> = getContext<any>('stores').activeConfig;
	const models: Writable<object> = getContext<any>('stores').models;
	const datastore = getContext<any>('stores').activeClient;

	let model: ModelConfig;
	let events: any[] = [];
	let entity: any = {};
	let error: Error = null;

	$: model = $models[$page.params.model];

	async function save() {
		console.log('Saving...', entity);
		try {
			const payload = omit(entity, 'created_at', 'updated_at', 'version');
			const res = await $datastore.create(model.name, payload);

			goto(
				`/datastore/${model.name}/${res.data[model.correlation_field]}`.toLowerCase(),
				{
					replaceState: true
				}
			);
		} catch (err) {
			error = err;
		}
	}
</script>

{#if !!model}
	<div class="flex flex-column h-screen">
		<div class="w-8/12">
			{#if !!entity}
				<Entity bind:entity activeConfig={$activeConfig} {model} on:save={save} />
			{/if}
		</div>

		<div class="w-4/12" style="background-color: #272822;">
			{#if error}
				<Error {error} />
			{:else}
				<Editor
					language="json"
					fontSize="10px"
					isReadonly={true}
					value={JSON.stringify(events, null, 2)}
				/>
			{/if}
		</div>
	</div>
{/if}
