<script lang="ts">
	import type { Writable } from 'svelte/store';
	import type { ModelConfig } from '@getanthill/datastore/typings';
	import type { Services } from '../../../../services';

	import { getContext } from 'svelte';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';
	// import faker from 'json-schema-faker';

	import Editor from '../../../../components/editor.svelte';
	import Error from '../../../../components/error.svelte';

	const models: Writable<object> = getContext<any>('stores').models;
	const activeConfig: Writable<any> = getContext<any>('stores').activeConfig;
	const datastore = getContext<any>('stores').activeClient;
	const svc = getContext<Services>('services');

	let model: ModelConfig;
	$: model = $models[$page.params.model];

	let value: string = JSON.stringify(JSON.parse($page.url.searchParams.get('json') || '{}'), null, 2);
	let error: Error;

	// $: value = !value ? JSON.stringify(faker.generate(model.schema.model), null, 2) : value;

	async function save(value) {
		console.log('Saving...', value);
		try {
			error = null;
			const json = svc.parse(value);

			const { data: entity } = await $datastore.create(model.name, svc.sanitize(json));
			console.log('Entity created', { entity });

			goto(
				`/datastore/${model.name}/${entity[model.correlation_field]}`.toLowerCase(),
				{
					replaceState: true
				}
			);
		} catch (err) {
			console.error(err);
			error = err;
		}
	}
</script>

{#if !!model}
	<div class="flex flex-column h-screen" style="background-color: #272822;">
		<div class="w-8/12 border-r-2" style="border-color: #171812;">
			<div class="w-full h-4/6">
				<Editor
					language="json"
					schema={{
						type: 'object',
						...model.schema.model
					}}
					bind:value
					on:save={() => save(value)}
				/>
			</div>

			<div class="w-full h-2/6 border-t-2" style="border-color: #171812;">
				<Error {error} />
			</div>
		</div>

		<div class="w-4/12">
			<Editor language="json" isReadonly={true} value={JSON.stringify([], null, 2)} />
		</div>
	</div>
{/if}
