<script lang="ts">
	import type { Writable } from 'svelte/store';
	import type { ModelConfig } from '@getanthill/datastore/typings';
	import type Datastore from '@getanthill/datastore/src/sdk/Datastore';

	import { getContext, onMount } from 'svelte';
	import { page } from '$app/stores';
	import { goto } from '$app/navigation';

	import set from 'lodash/set.js';

	import Layout from '../../../components/navigation/page.svelte';

	import ModelHeader from '../../../components/model-header.svelte';
	import Search from '../../../components/search.svelte';
	import Table from '../../../components/table.svelte';

	const models: Writable<object> = getContext<any>('stores').models;
	const activeConfig: Writable<any> = getContext<any>('stores').activeConfig;
	const datastore = getContext<any>('stores').activeClient;

	let model: ModelConfig;
	$: model = $models && $models[$page.params.model];

	let query: string = $page.url.searchParams.get('q') || '';
	let results: any = [];
	let count: number = 0;
	let fragments: [string, string][] = [];
	let pattern: string = '';

	$: search(query, model);

	async function search(query, model) {
		if (!model) {
			return;
		}

		const _query = {};
		fragments = query
			.split(' ')
			.map((f) => f.split('='))
			.filter((f) => f.length === 2);

		fragments.forEach((f) => {
			try {
				if (/\d+/.test(f[1])) {
					set(_query, f[0], f[1]);
				} else {
					set(_query, f[0], JSON.parse(f[1]));
				}
			} catch (err) {
				console.log(f[1]);
				console.error(err);
				set(_query, f[0], f[1]);
			}
		});

		pattern = query
			.split(' ')
			.map((f) => f.split('='))
			.filter((f) => f.filter((_f) => !!_f).length === 1)
			.join(' ');

		const q: any = {
			..._query,
			_must_hash: true
		};

		if (!!pattern) {
			q._q = {
				$or: [
					{
						name: {
							$regex: pattern,
							$options: 'i'
						}
					},
					{
						description: {
							$regex: pattern,
							$options: 'i'
						}
					},
					{
						tags: {
							$regex: pattern,
							$options: 'i'
						}
					}
				]
			};
		}

		console.log('[search] Query', q);

		const { data } = await $datastore.find(model.name, q);

		try {
			const { data: decryptedResults } = await $datastore.decrypt(model.name, data);

			results = decryptedResults;
		} catch (err) {
			results = data;
		}

		const res = await $datastore.count(model.name, q);

		if (!isNaN(res)) {
			count = res;
		} else {
			count = -1;
		}

		goto(`/datastore/${model.name}?q=${query}`.toLowerCase(), {
			replaceState: true,
			noscroll: true,
			keepfocus: true
		});
	}

	onMount(async () => {
		search(query, model);
	});
</script>

<Layout>
	<div slot="main">
		{#if !!model}
			<ModelHeader activeConfig={$activeConfig} {model} />

			<Search bind:value={query} {count} {pattern} {fragments} />

			<div class="w-full overflow-x-auto	">
				{#if results.length > 0}
					<Table {model} activeConfig={$activeConfig} items={results} />
				{:else}
					<div class="p-20 sm:px-0 flex">
						<h3 class="text-lg w-full text-center font-medium leading-6 text-gray-900">
							No result found
						</h3>
					</div>
				{/if}
			</div>
		{/if}
	</div>
</Layout>
