<script lang="ts">
	import type { Writable } from 'svelte/store';
	import type { ModelConfig } from '@getanthill/datastore/typings';
	import type { Services } from '../../../services';

	import { getContext, onMount } from 'svelte';
	import { getStores, navigating, page, session } from '$app/stores';

	import Editor from '../../../components/editor.svelte';
	import Error from '../../../components/error.svelte';

	const activeConfigIndex: Writable<number> = getContext<any>('stores').activeConfigIndex;
	const models: Writable<object> = getContext<any>('stores').models;
	const datastore = getContext<any>('stores').activeClient;
	const svc = getContext<Services>('services');

	let originalValue: string;
	let value: string;
	let error: Error;

	let model: ModelConfig;
	$: if (!model) { model = $models[$page.params.model]; }
	$: !value && getValue(model);

	async function getValue(model) {
		if (!model) {
			return;
		}

		setValue(model);
	}

	function setValue(entity) {
		value = JSON.stringify(entity, null, 2);
		
		originalValue = value;
	}

	async function save(value) {
		try {
			if (value === originalValue) {
				return;
			}

			error = null;
			const config = svc.sanitize(svc.parse(value));

			const { data: model } = await $datastore.updateModel(config);
			console.log('Model updated', {
				version: model.version,
				model,
			})

			setValue(model);

			await $datastore.createModelIndexes(config);

			const _index = $activeConfigIndex;
			$activeConfigIndex = -1;
			$activeConfigIndex = _index;
			// $models = {
			// 	...$models,
			// 	[$page.params.model]: model
			// }

			
			
		} catch (err) {
			error = err;
		}
	}
</script>

{#if model}
<div class="flex flex-column h-screen" style="background-color: #272822;">
	<div class="w-8/12 border-r-2" style="border-color: #171812;">
		<div class="w-full h-4/6">
			<Editor
				language="json"
				bind:value
				on:save={() => save(value)}
			/>
		</div>

		<div class="w-full h-2/6 border-t-2" style="border-color: #171812;">
			<Error {error} />
		</div>
	</div>
</div>
{/if}
